html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
    color: #000;
}

.counters {
    display: flexbox;
    justify-content: space-between;
    margin-bottom: 20px;
}

.counter {
    display:inline-block;
    font-size: 16px;
    margin: 20px;
}

.player1-counter {
    color: red;
}

.player1-count {
    display: block;
}

.player2-counter {
    color: blue
}

.player2-count {
    display: block;
}

.board {
    display: inline-block;
    border: 2px solid #333;
}

.row {
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background: #fff
}

.black {
    background: #000
}

.piece {
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece i {
    font-size: 30px /* Adjust size as needed */
}

.piece.player1 i {
    color: red /* Color for player 1 */
}

.piece.player2 i {
    color: blue /* Color for player 2 */
}

.selected {
    border: 2px solid yellow
}

#checkers-heading {
    font-size: 300%
}

/* New styles for turn indicator */
.turn-indicator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.turn-indicator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey ;
    margin-bottom: 0;
}

.turn-text {
    font-size: 16px
}
